@model IEnumerable<HiringOperation.Models.HiringSTD>
@{
    ViewData["Title"] = "Totaldata";
    Layout = "~/Views/Shared/_TrainersLayout.cshtml";
}

<html>
<head>
    <link href="Revamp/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="Revamp/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="Revamp/js/dataTables.bootstrap4.min.js"></script>

    <script>
        jQuery(function ($) {
            $('#fieldSetupGrid').DataTable({
                "pageLength": 25
            });
        });
    </script>
</head>
<body>
    <!-- Content Start -->
    <section class="text-black">
        <div class="container-fluid">
            <div class="grid-container">
                <div class="row">
                    <div class="caption col-sm-7">
                        <h6 class="page-title">DEPARTMENT'S DATA</h6>
                        <asp:Label ID="lbl_error" runat="server" Text="Label" Visible="False" ForeColor="Red"></asp:Label>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-primary btn-style1-oval float-right" data-toggle="modal" data-target="#addFieldModal">+ Add Department</button>
                    </div>
                </div>
                <hr />
                <div id="formgrid" class="formgrid">

                    <table class="table table-bordered table-striped dtables" style="width: 100%" id="fieldSetupGrid">
                        <thead>
                            <tr>
                                <th style="width: 15px; text-align: center; font-size: 15px">SNo</th>
                                <th>
                                    <span style="font-size: 15px">Name_of_the_student</span>
                                </th>

                                <th>
                                    <span style="font-size: 15px">EmailID</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">PH_No</span>
                                </th>
                                <th>
                                    <span style="font-size: 15px">Dob</span>
                                </th>

                                @*  <th>
                                <span style="font-size: 5px">Gender</span>
                                </th>*@
                                @*  <th>
                                <span style="font-size: 15px">StudentPHno</span>
                                </th>*@
                                @* <th>
                                <span style="font-size: 5px">StudentAadhar</span>
                                </th>*@
                                @* <th>
                                <span style="font-size: 5px">SchoolName</span>
                                </th>
                                <th>
                                <span style="font-size: 5px">SscPassYear</span>
                                </th>*@
                                <th>
                                    <span style="font-size: 15px">SscAggregate</span>
                                </th>
                                @*  <th>
                                <span style="font-size: 5px">CollegeName</span>
                                </th>
                                <th>
                                <span style="font-size: 5px">IntermediatePassYear</span>
                                </th>*@
                                <th>
                                    <span style="font-size: 15px">IntermediateAggregate</span>
                                </th>
                                @* <th>
                                <span style="font-size: 5px">EngineeringCollegeName</span>
                                </th>*@
                                @*   <th>
                                <span style="font-size: 5px">Branch</span>
                                </th>
                                <th>
                                <span style="font-size: 5px">EngineeringPassout</span>
                                </th>
                                *@
                                <th>
                                    <span style="font-size: 15px">Backlog</span>
                                </th>

                                <th>
                                    <span style="font-size: 15px">GraduationAggregate</span>
                                </th>

                                <th>
                                    <span style="font-size: 15px">FathersName</span>
                                </th>

                                @* <th>
                                <span style="font-size: 5px">PermanentAddress</span>
                                </th>

                                <th>
                                <span style="font-size: 5px">FathersMobileNo</span>
                                </th>

                                <th>
                                <span style="font-size: 5px">MothersName</span>
                                </th>

                                <th>
                                <span style="font-size: 5px">FathersMobileNo</span>
                                </th>

                                <th>
                                <span style="font-size: 5px">MothersOccupation</span>
                                </th>*@




                                <th style="width: 5%">
                                    <span style="font-size: 15px">Action</span>
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Sno</td>@*
                            @*     <td>@item.HallTicket</td>*@
                                <td>@item.Name_of_the_student</td>
                                <td>@item.Emailid</td>
                                <td>@item.PH_No</td>
                                <td>@item.Dob</td>
                                <td>@item.Ssc_Aggregate</td>
                                <td>@item.inter_Aggregate</td>
                                <td>@item.Total_backlogs</td>
                                <td>@item.Graduation_Aggregate</td>

                                <td>@item.Fathers_name</td>
                                @*   <td>@item.CollegeName</td>
                            <td>@item.IntermediatePassYear</td>
                            <td>@item.IntermediateAggregate</td>
                            <td>@item.EngineeringCollegeName</td>
                            <td>@item.Branch</td>
                            <td>@item.EngineeringPassout</td>
                            <td>@item.Backlog</td>
                            <td>@item.GraduationAggregate</td>

                            <td>@item.FathersName</td>
                            <td>@item.PermanentAddress</td>
                            <td>@item.FathersMobileNo</td>
                            <td>@item.MothersName</td>
                            <td>@item.MothersOccupation</td>*@

                                <td>
                                    <center>
                                        <div class="modal fade" id="addFieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">ACTION</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                        @*<input type="image" onclick="return false" title="Edit" data-toggle="modal" src="Revamp/images/EDITICON.png" style="height:20px;width:20px;">*@
                                    </center>
                                </td>
                            </tr>
                        }

                    </table>


                </div>
                <br />


                <!-- Modal -->
                <div class="modal fade" id="addFieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>



                            <div class="modal-body">


                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>


                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>
    <!-- End -->
</body>
</html>


